.averageSessionsChartContainer {
	display: inline-block;
	position: relative;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;
	margin: auto;
}

.averageSessionsChartTitle {
	/* color: #ffffff; */
	font-size: 0.938em;
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 1;
}
