.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 60vh;
}

.title {
	color: #ff0101;
	font-size: 7em;
}

.text {
	font-size: 2em;
}

.link {
	color: #ff0101;
	padding-right: 0.5em;
	font-weight: bold;
}
